
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(to bottom right, #dfe9f3, #ffffff);
    background-image: url('hotel-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 40px;
    color: #333;
}

h2 {
    text-align: center;
    color: #003366;
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


form {
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    padding: 25px 35px;
}


fieldset {
    border: 2px solid #0077b6;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5faff;
}

legend {
    color: #005b96;
    font-weight: bold;
    padding: 0 10px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #0077b6;
    outline: none;
    box-shadow: 0 0 5px #89cff0;
}

/* Tombol */
input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #0077b6;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #005f8a;
}

/* Radio */
input[type="radio"] {
    margin-right: 6px;
}

/* Responsif */
@media screen and (max-width: 600px) {
    form {
        width: 90%;
        padding: 20px;
    }
}
